@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?mfshr8') format('truetype'),
    url('fonts/icomoon.woff?mfshr8') format('woff'),
    url('fonts/icomoon.svg?mfshr8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconFt_"], [class*=" iconFt_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconFt_pdt_new:before {
  content: "\e932";
}
.iconFt_pdt_best:before {
  content: "\e930";
}
.iconFt_search:before {
  content: "\e90c";
}
.iconFt_pdt_noodle:before {
  content: "\e92f";
}
.iconFt_pdt_soop:before {
  content: "\e931";
}
.iconFt_pdt_snack:before {
  content: "\e92e";
}
.iconFt_pdt_cook:before {
  content: "\e953";
}
.iconFt_pdt_list:before {
  content: "\e93b";
}
.iconFt_top_arr:before {
  content: "\e92d";
}
.iconFt_larr_rg:before {
  content: "\e92c";
}
.iconFt_rarr_rg:before {
  content: "\e92b";
}
.iconFt_close:before {
  content: "\e925";
}
.iconFt_file_clip:before {
  content: "\e924";
}
.iconFt_long_left:before {
  content: "\e902";
}
.iconFt_long_right:before {
  content: "\e903";
}
.iconFt_gram:before {
  content: "\e906";
}
.iconFt_stop_watch:before {
  content: "\e907";
}
.iconFt_smile:before {
  content: "\e90a";
}
.iconFt_pause:before {
  content: "\e912";
}
.iconFt_visual_arr_l:before {
  content: "\e913";
}
.iconFt_visual_arr_r:before {
  content: "\e923";
}
.iconFt_store:before {
  content: "\e901";
}
.iconFt_menu:before {
  content: "\e900";
}
.iconFt_barr_l:before {
  content: "\e91a";
}
.iconFt_tarr_l:before {
  content: "\e91c";
}
.iconFt_barr_b:before {
  content: "\e91b";
}
.iconFt_tarr_b:before {
  content: "\e91f";
}
.iconFt_top1:before {
  content: "\e91e";
}
.iconFt_top:before {
  content: "\e91d";
}
.iconFt_star:before {
  content: "\e911";
}
.iconFt_star1:before {
  content: "\e910";
}
.iconFt_down2:before {
  content: "\e920";
}
.iconFt_refresh:before {
  content: "\e918";
}
.iconFt_write:before {
  content: "\e919";
}
.iconFt_arrow_l_2:before {
  content: "\e908";
}
.iconFt_arrow_r_2:before {
  content: "\e909";
}
.iconFt_play:before {
  content: "\e90d";
}
.iconFt_naver:before {
  content: "\e921";
}
.iconFt_kakao:before {
  content: "\e90e";
}
.iconFt_youtube1:before {
  content: "\e90f";
}
.iconFt_arrow_ty1_r:before {
  content: "\e922";
}
.iconFt_arrow_ty1_l:before {
  content: "\e973";
}
.iconFt_link3:before {
  content: "\e92a";
}
.iconFt_tag:before {
  content: "\e955";
}
.iconFt_t-right:before {
  content: "\e956";
}
.iconFt_t-left:before {
  content: "\e957";
}
.iconFt_t-center:before {
  content: "\e958";
}
.iconFt_delete:before {
  content: "\e954";
}
.iconFt_link1:before {
  content: "\e933";
}
.iconFt_txt:before {
  content: "\e934";
}
.iconFt_gallery:before {
  content: "\e935";
}
.iconFt_player:before {
  content: "\e936";
}
.iconFt_line_type:before {
  content: "\e937";
}
.iconFt_Edit_icon06:before {
  content: "\e93e";
}
.iconFt_Edit_icon07:before {
  content: "\e93f";
}
.iconFt_Edit_icon08:before {
  content: "\e940";
}
.iconFt_Edit_icon09:before {
  content: "\e941";
}
.iconFt_sns:before {
  content: "\e942";
}
.iconFt_ft-weight:before {
  content: "\e943";
}
.iconFt_ft-color:before {
  content: "\e944";
}
.iconFt_ft-decoration:before {
  content: "\e945";
}
.iconFt_link2:before {
  content: "\e926";
}
.iconFt_arwnt_ty4:before {
  content: "\e929";
}
.iconFt_arwnt_ty3:before {
  content: "\e928";
}
.iconFt_down:before {
  content: "\e90b";
}
.iconFt_check:before {
  content: "\e905";
}
.iconFt_circheck:before {
  content: "\e904";
}
.iconFt_link:before {
  content: "\e927";
}
.iconFt_facebook:before {
  content: "\e914";
}
.iconFt_twitter:before {
  content: "\e915";
}
.iconFt_insta:before {
  content: "\e916";
}
.iconFt_youtube:before {
  content: "\e917";
}
.iconFt_google:before {
  content: "\ea88";
}
